<%- include('header.ejs') %>
<div class="content">
    <div class="contentdiv">
      <div class="" uk-grid>
        <div class="uk-width-auto">
          <h3 class="ukhd">Delivery Guys</h3>
        </div>
        <div class="uk-width-expand">
          <div class="uk-width-1-1@s uk-text-right uk-margin-small-bottom">
            <a href="./add-delivery-guy.html" class="uk-button uk-button-default custombtn">
              <i class="fa fa-plus"></i> Add Delivery Guy</a>
          </div>
        </div>
      </div>



      <div class="uk-card uk-card-body uk-card-default">
        <?php echo $display_msg; ?>
        <div class="uk-overflow-auto">

          <table class="uk-table tablecss" id="commonTable">
            <thead>
              <tr>
                <th>S.No.</th>
                <th class="uk-table-expand">Profile Pic</th>
                <th class="uk-table-expand">Name</th>
                <th>Email</th>
                <th>Address</th>
                <th class="uk-table-expand">Action</th>
              </tr>
            </thead>

            <tbody>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
  <%- include('footer.ejs') %>