<%- include('header.ejs') %>
<div class="content">
    <div class="contentdiv">
        <div class="" uk-grid>
            <div class="uk-width-expand@m orderview">
                <div class="liveordswt" uk-switcher="animation: uk-animation-fade; toggle: > *">
                    <button class="uk-button uk-button-default" type="button">On-process</button>
                    <button class="uk-button uk-button-default" type="button">Completed</button>
                </div>
                <ul class="uk-switcher uk-margin">
                    <li>
                        <div class="uk-card uk-card-body uk-card-default uk-margin-small-bottom">
                            <div class="" uk-grid>
                                <div class="uk-width-expand">
                                    <h3 class="ordhh">Orders : #983038</h3>
                                    <span class="ordtbl">Tabel : 01</span>
                                    <br><span class="ordqta">Qta : 7</span>
                                </div>
                                <div class="uk-width-auto">
                                    <h3 class="ordtm">20:30pm</h3>
                                    <span class="ordhh">$420.00</span> &nbsp;<span class="uk-label uk-label-success">Dine-in</span>
                                </div>
                            </div>
                        </div>

                        <div class="uk-card uk-card-body uk-card-default uk-margin-small-bottom">
                            <div class="" uk-grid>
                                <div class="uk-width-expand">
                                    <h3 class="ordhh">Orders : #983038</h3>
                                    <span class="ordtbl">Tabel : 01</span>
                                    <br><span class="ordqta">Qta : 7</span>
                                </div>
                                <div class="uk-width-auto">
                                    <h3 class="ordtm">20:30pm</h3>
                                    <span class="ordhh">$420.00</span> &nbsp;<span class="uk-label uk-label-success">Dine-in</span>
                                </div>
                            </div>
                        </div>

                        <div class="uk-card uk-card-body uk-card-default uk-margin-small-bottom">
                            <div class="" uk-grid>
                                <div class="uk-width-expand">
                                    <h3 class="ordhh">Orders : #983038</h3>
                                    <span class="ordtbl">Tabel : 01</span>
                                    <br><span class="ordqta">Qta : 7</span>
                                </div>
                                <div class="uk-width-auto">
                                    <h3 class="ordtm">20:30pm</h3>
                                    <span class="ordhh">$420.00</span> &nbsp;<span class="uk-label uk-label-success">Dine-in</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            
            <div class="uk-width-1-3@m sideorder">
                <h3 class="ukhd mrtop8">Live Orders</h3>
                <div class="uk-card uk-card-body uk-card-default uk-padding-small">
                    <div class="uk-grid" uk-grid="">
                        <div class="uk-width-expand uk-first-column">
                            <span class="">Orders <br> </span><span class="ordhh">#983038</span>
                        </div>
                        <div class="uk-width-auto">
                            <span class="ordtbl">Tabel <br></span><span class="ordhh">01</span>
                        </div>
                    </div>
                    <div class="itemdiv">
                        <div class="uk-grid-small" uk-grid>
                            <div class="uk-width-auto">
                                <img src="./img/undraw_profile.svg" class="" style="">
                            </div>
                            <div class="uk-width-expand">
                                <span><b>Orange Juice</b><br>
                                    Note : Less Ice</span>
                                <div class="uk-grid-small " uk-grid>
                                    <div class="uk-width-auto">
                                        <span>$2304</span><span class="uk-margin-small-left">x 4</span>
                                    </div>
                                    <div class="uk-width-expand uk-text-right">
                                        <span><b>$11,340</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="itemdiv">
                        <div class="uk-grid-small" uk-grid>
                            <div class="uk-width-auto">
                                <img src="./img/undraw_profile.svg" class="" style="">
                            </div>
                            <div class="uk-width-expand">
                                <span><b>Orange Juice</b><br>
                                    Note : Less Ice</span>
                                <div class="uk-grid-small " uk-grid>
                                    <div class="uk-width-auto">
                                        <span>$2304</span><span class="uk-margin-small-left">x 4</span>
                                    </div>
                                    <div class="uk-width-expand uk-text-right">
                                        <span><b>$11,340</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="uk-table uk-table-small odertbl">
                        <tbody>
                            <tr>
                                <td>Items (7)</td>
                                <td class="uk-text-right">$120.00</td>
                            </tr>
                            <tr>
                                <td>Tax(10%)</td>
                                <td class="uk-text-right">$124.00 </td>
                            </tr>
                            <tr class="totaldiv">
                                <td><b>Total</b></td>
                                <td class="uk-text-right"><b>$24.00 USD</b></td>
                            </tr>
                        </tbody>
                    </table>

                    <h3 class="pymhd uk-margin-small-top">Payemnt Methods</h3>
                    <p class="uk-margin-small-top">
                        <button class="uk-button pymbtn">Cash</button>
                        <button class="uk-button orgpymbtn">Debit Card</button>
                        <button class="uk-button pymbtn">E- Wallet</button>
                    </p>
                    <div class="uk-text-center">
                        <button type="submit" class="uk-button uk-button-default custombtn" name=""> Pay Bills</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer.ejs') %>