<%- include('header.ejs') %>
<div class="content">
  <div class="contentdiv">
    <div class="" uk-grid>
      <div class="uk-width-auto">
        <h3 class="ukhd">Offers</h3>
      </div>
      <div class="uk-width-expand">
        <div class="uk-width-1-1@s uk-text-right uk-margin-small-bottom">
          <a href="./add-offer.html" class="uk-button uk-button-default custombtn"><i class="fa fa-plus"></i> Add Offer</a>
        </div>
      </div>
    </div>

    <div class="uk-card uk-card-body uk-card-default">
      <div class="uk-overflow-auto">

        <table class="uk-table tablecss" id="commonTable">
          <thead>
            <tr>
              <th>S.No.</th>
              <th class="uk-table-expand">Promo Code</th>
              <th class="uk-table-expand">End Date</th>
              <th>End Date</th>
              <th>Discount Type</th>
              <th>Amount/Percent </th>
              <th>Minimum order amount</th>
              <th class="uk-table-expand">Action</th>
            </tr>
          </thead>

          <tbody>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
<%- include('footer.ejs') %>