<%- include('header.ejs') %>
<div class="content">
    <div class="contentdiv">
        <div class="" uk-grid>
            <div class="uk-width-auto  uk-margin-small-bottom">
                <h3 class="ukhd">Orders</h3>
            </div>
            <div class="uk-width-expand">
                <div class="uk-width-1-1@s uk-text-right"></div>
            </div>
        </div>
        <div class="uk-card uk-card-body uk-card-default">
            <div class="uk-overflow-auto">
                <table class="uk-table tablecss" id="commonTable">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th class="uk-table-expand">Orders</th>
                            <th class="uk-table-expand">Client Details</th>
                            <th>Amount</th>
                            <th>Suggestions</th>
                            <th>Order Status</th>
                            <th>Payment Status</th>
                            <th class="uk-table-expand">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>    
        </div>
    </div>
</div>
<%- include('footer.ejs') %>